* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  body {
    background-color: #F7F7F7;
    /* background-color: #a8bcc3; */
  }
  .audio-player {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background: #01345B;
    color: #a8bcc3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 3px;
    padding: 7px;
    @media (max-width: 768px) {
      justify-content: flex-start;
    }
  }
  
  .controls {
    display: flex;
    gap: 0;
  }
  .time {
    font-size: small;
  }
  .control-button {
    cursor: pointer;
  }
  
  .progress-bar {
    width: 40%;
  }
  
  .image-container {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  
  .text-container {
    margin-left: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
  }
  .progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 5px;
    width: 100%;
  }
  .text-container .title {
    font-size: small;
    font-weight: bold;
  }
  .text-container .artist {
    font-size: small;
  }
  .StyledImage {
    width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .image-container {
      display: none;
    }
    .text-container {
      display: none
    };
  }